[submodule "containerd1.7"]
	path = containerd1.7
	url = https://github.com/containerd/containerd.git
	branch = release/1.7
[submodule "containerd1.6"]
	path = containerd1.6
	url = https://github.com/containerd/containerd.git
	branch = release/1.6
