<section class="section has-background-white-bis graduation">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <p class="title is-size-3 is-size-4-mobile has-text-weight-light">
          containerd has graduated from the <a href="https://cncf.io">CNCF</a>!
        </p>

        <hr />

        <p class="is-size-5 is-size-6-mobile">
          As of February 28, 2019, containerd is officially the fifth project to graduate from the Cloud Native Computing Foundation, behind
          <a href="https://kubernetes.io">Kubernetes</a>, <a href="https://prometheus.io">Prometheus</a>,
          <a href="https://envoyproxy.io">Envoy</a>, and <a href="https://coredns.io">CoreDNS</a>. We'd like to thank the <em>amazing</em>
          containerd community for making this all possible and we're excited for the future of the project.
        </p>

        <br />

        <p class="is-size-5 is-size-6-mobile">
          You can read the official announcement <a target="_blank" href="https://www.cncf.io/announcement/2019/02/28/cncf-announces-containerd-graduation/">on the CNCF website</a>.
        </p>

        <br />

        <p class="is-size-3 is-size-4-mobile">
          🍾🎉🥳🎁
        </p>
      </div>

      <div class="column has-text-centered">
        <a href="https://cncf.io">
          <img src="/img/logos/cncf.png" class="is-graduation-logo" alt="Cloud Native Computing Foundation logo">
        </a>
      </div>
    </div>
  </div>
</section>
