{{- $releasesUrl := "https://api.github.com/repos/containerd/containerd/releases?per_page=50&page=1" }}
{{- $downloadUrl := "https://github.com/containerd/containerd/releases/download" }}
{{- $releases    := getJSON $releasesUrl }}
{{- $latest      := .Site.Params.versions.latest }}
<table>
  <thead>
    <tr>
      <th>
        <span class="is-size-4 is-size-5-mobile">
          Version
        </span>
      </th>
      <th>
        <span class="is-size-4 is-size-5-mobile">
          Copy link
        </span>
      </th>
      <th>
        <span class="is-size-4 is-size-5-mobile">
          Direct download
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    {{- range $releases }}
    {{- $name        := .name }}
    {{- $latestTag   := printf "v%s" $latest }}
    {{- $githubUrl   := .html_url }}
    {{- $tag         := .tag_name }}
    {{- $asset       := (index .assets 0).name }}
    {{- $binariesUrl := printf "%s/%s/%s" $downloadUrl $tag $asset }}
    {{- $zipUrl      := printf "https://github.com/containerd/containerd/archive/%s.zip" $tag }}
    {{- $tarUrl      := printf "https://github.com/containerd/containerd/archive/%s.tar.gz" $tag }}
    {{- $isLatest    := eq $tag $latestTag }}

    <tr>
      <td>
        <div class="is-release-version">
          <a href="{{ $githubUrl }}" class="is-size-5">
            {{ $name }}
          </a>

          {{- if $isLatest }}
          <button class="button is-small is-success">
            LATEST
          </button>
          {{- end }}
        </div>
      </td>
      <td>
        <div class="buttons">
          <a class="button is-dark is-clipboard" data-clipboard-action="copy" data-clipboard-text="{{ $binariesUrl }}">
            <span class="icon">
              <i class="fas fa-clipboard-list"></i>
            </span>
            <span>
              Binaries (<strong>.tar.gz</strong>)
            </span>
          </a>
          <a class="button is-light is-clipboard" data-clipboard-action="copy" data-clipboard-text="{{ $zipUrl }}">
            <span class="icon">
              <i class="fas fa-clipboard-list"></i>
            </span>
            <span>
              Source (<strong>.zip</strong>)
            </span>
          </a>
          <a class="button is-light is-clipboard" data-clipboard-action="copy" data-clipboard-text="{{ $tarUrl }}">
            <span class="icon">
              <i class="fas fa-clipboard-list"></i>
            </span>
            <span>
              Source (<strong>.tar.gz</strong>)
            </span>
          </a>
        </div>
      </td>
      <td>
        <div class="buttons">
          <a class="button is-dark" href="{{ $binariesUrl }}" download>
            <span class="icon">
              <i class="fas fa-arrow-alt-circle-down"></i>
            </span>
            <span>
              Binaries (<strong>.tar.gz</strong>)
            </span>
          </a>
          <a class="button is-light" href="{{ $zipUrl }}" download>
            <span class="icon">
              <i class="fas fa-arrow-alt-circle-down"></i>
            </span>
            <span>
              Source (<strong>.zip</strong>)
            </span>
          </a>
          <a class="button is-light" href="{{ $tarUrl }}" download>
            <span class="icon">
              <i class="fas fa-arrow-alt-circle-down"></i>
            </span>
            <span>
              Source (<strong>.tar.gz</strong>)
            </span>
          </a>
        </div>
      </td>
    </tr>
    {{- end }}
  </tbody>
</table>
